<div class='row'>
  <table class='listing-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th style='text-align: center; width: 180px;'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @quiz_pools.each do |quiz_pool| %>
        <tr>
          <td><%= link_to quiz_pool.title, take_quiz_quiz_pool_url(quiz_pool), target: "_blank" %></td>
          <td style='text-align: center;'>
            <%= link_to 'Result', result_quiz_pool_url(quiz_pool), class: "btn btn-xs btn-success" %>
            <%= link_to 'Edit', edit_quiz_pool_url(quiz_pool), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Remove', quiz_pool_url(quiz_pool), method: :delete, class: "btn btn-xs btn-danger", "data-confirm" => "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>