<div style='text-align: center;'>
  <h3 style='text-align: center;'>Thank you for doing this quiz pool</h3>
  <span>The result will be captured in Quiz Pools page</span>
  <br/><br/>
  <a href='/quiz_pools'>Back to Quiz Pools</a>
</div>